In [9]:
dataset.head()

,make,model,year,mileage,engine_hp,transmission,fuel_type,drivetrain,body_type,exterior_color,interior_color,owner_count,seller_type,condition,trim,vehicle_age,mileage_per_year,brand_popularity,price
0,Volkswagen,Jetta,2016,183903,173,Manual,Electric,RWD,Sedan,Blue,Brown,5,Dealer,Excellent,EX,9,20433.666667,0.040054,7208.52
1,Lexus,RX,2010,236643,352,Manual,Gasoline,FWD,Sedan,Silver,Beige,5,Dealer,Good,LX,15,15776.200000,0.039921,6911.81
2,Subaru,Crosstrek,2016,103199,188,Automatic,Diesel,AWD,Sedan,Silver,Beige,5,Dealer,Excellent,Touring,9,11466.555556,0.040230,11915.63
3,Cadillac,Lyriq,2016,118889,338,Manual,Gasoline,AWD,SUV,Black,Gray,3,Private,Good,Base,9,13209.888889,0.039847,25984.79
4,Toyota,Highlander,2018,204170,196,Manual,Diesel,FWD,Sedan,Red,Brown,5,Dealer,Excellent,Sport,7,29167.142857,0.039627,8151.30

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import time
import numpy as np
from sklearn.preprocessing import StandardScaler
import pickle
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor
import pandas as pd

def model_importance_selection_regression(indep, dep, n):
    rf = RandomForestRegressor(random_state=42)
    rf.fit(indep, dep)

    # Create DataFrame of feature importances
    importance_df = pd.DataFrame({
        'Feature': indep.columns,
        'Importance': rf.feature_importances_
    }).sort_values(by='Importance', ascending=False)

    # --- Your snippet (top-n logic) ---
    selected_features = importance_df['Feature'].head(n)
    dropped_features = importance_df['Feature'].tail(len(indep.columns) - n)

    # Print summary
    print("Top Selected Features (Model Importance):\n", selected_features.tolist())
    print("\nDropped Features:\n", dropped_features.tolist())

    # Reduce dataset
    reduced_X = indep[selected_features]

    # Return results
    return selected_features.tolist(), dropped_features.tolist(), reduced_X

def split_scalar(indep_X,dep_Y):
        X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)    
        return X_train, X_test, y_train, y_test
    
def r2_prediction(regressor,X_test,y_test):
     y_pred = regressor.predict(X_test)
     from sklearn.metrics import r2_score
     r2=r2_score(y_test,y_pred)
     return r2
 
def Linear(X_train,y_train,X_test,y_test):       
        # Fitting K-NN to the Training set
        from sklearn.linear_model import LinearRegression
        regressor = LinearRegression()
        regressor.fit(X_train, y_train)
        r2=r2_prediction(regressor,X_test,y_test)
        return  r2   
    
def svm_linear(X_train,y_train,X_test,y_test):
                
        from sklearn.svm import SVR
        regressor = SVR(kernel = 'linear')
        regressor.fit(X_train, y_train)
        r2=r2_prediction(regressor,X_test,y_test)
        return  r2  
    
def svm_NL(X_train,y_train,X_test,y_test):
                
        from sklearn.svm import SVR
        regressor = SVR(kernel = 'rbf')
        regressor.fit(X_train, y_train)
        r2=r2_prediction(regressor,X_test,y_test)
        return  r2  
     

def Decision(X_train,y_train,X_test,y_test):
        
        # Fitting K-NN to the Training setC
        from sklearn.tree import DecisionTreeRegressor
        regressor = DecisionTreeRegressor(random_state = 0)
        regressor.fit(X_train, y_train)
        r2=r2_prediction(regressor,X_test,y_test)
        return  r2  
     

def random(X_train,y_train,X_test,y_test):       
        # Fitting K-NN to the Training set
        from sklearn.ensemble import RandomForestRegressor
        regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
        regressor.fit(X_train, y_train)
        r2=r2_prediction(regressor,X_test,y_test)
        return  r2 
    
    
def featureImportance_regression(acclin,accsvml,accsvmnl,accdes,accrf): 
    
    dataframe=pd.DataFrame(index=['FeatureImportance'],columns=['Linear','SVMl','SVMnl','Decision','Random'])

    for number,idex in enumerate(dataframe.index):
        
        dataframe['Linear'][idex]=acclin[number]       
        dataframe['SVMl'][idex]=accsvml[number]
        dataframe['SVMnl'][idex]=accsvmnl[number]
        dataframe['Decision'][idex]=accdes[number]
        dataframe['Random'][idex]=accrf[number]
    return dataframe

In [21]:
selected_features, dropped_features, reduced_X = model_importance_selection_regression(indep, dep, 5)     

acclin=[]
accsvml=[]
accsvmnl=[]
accdes=[]
accrf=[]

Top Selected Features (Model Importance):
 ['engine_hp', 'year', 'vehicle_age', 'mileage', 'make']

Dropped Features:
 ['brand_popularity', 'model', 'mileage_per_year', 'condition', 'exterior_color', 'trim', 'interior_color', 'owner_count', 'seller_type_Private', 'body_type', 'fuel_type', 'drivetrain', 'transmission_Manual']

In [22]:
df1.drop(columns=['brand_popularity', 'model', 'mileage_per_year', 'condition', 'exterior_color', 'trim', 'interior_color', 'owner_count', 'seller_type_Private', 'body_type', 'fuel_type', 'drivetrain', 'transmission_Manual'], inplace=True)

In [23]:
df1.head()

   make    year  mileage  engine_hp  vehicle_age     price
0    23  2016.0   183903      173.0          9.0   7208.52
1    14  2010.0   236643      352.0         15.0   6911.81
2    20  2016.0   103199      188.0          9.0  11915.63
3     3  2016.0   118889      338.0          9.0  25984.79
4    22  2018.0   204170      196.0          7.0   8151.30

In [61]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   make         65535 non-null  int32
 1   year         65535 non-null  float64
 2   mileage      65535 non-null  int64
 3   engine_hp    65535 non-null  float64
 4   vehicle_age  65535 non-null  float64
 5   price        65535 non-null  float64
dtypes: float64(4), int32(1), int64(1)
memory usage: 2.8 MB